/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* 防止滚动条出现 */
}

.full-screen-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 防止图片溢出 */
}

.full-screen-image img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover; /* 保持图片比例并覆盖整个区域 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}